{% extends 'base.html.twig' %}

{% block title %}Formulaire{% endblock %}

{% block body %}
  <div class="container">
    <h2 class="text-center">Formulaire</h2>
    <form method="post" class="my-form">
      {{ form_start(form) }}
      {{ form_errors(form) }}

      <div class="form-group">
        {{ form_label(form.name, 'Nom :') }}
        {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.name) }}
      </div>

      <div class="form-group">
        {{ form_label(form.email, 'Email :') }}
        {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.email) }}
      </div>

      <div class="form-group">
        {{ form_label(form.age, 'Age :') }}
        {{ form_widget(form.age, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.age) }}
      </div>

      <div class="form-group">
        {{ form_label(form.classroom, 'Classroom :') }}
        {{ form_widget(form.classroom, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.classroom) }}
      </div>

      <button type="submit" class="btn btn-primary">Envoyer</button>

      {{ form_end(form) }}
    </form>
  </div>

  <style>
    .container {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      height: 100vh;
    }
    .my-form {
      background-color: #f0f0f0;
      padding: 20px;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
      width: 400px;
      margin-top: 20px;
    }
    .form-group {
      margin-bottom: 20px;
    }
    .form-control {
      width: 100%;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
    }
    .btn-primary {
      background-color: #007bff;
      color: #fff;
      border: none;
      border-radius: 5px;
      padding: 10px 20px;
      cursor: pointer;
    }
  </style>
{% endblock %}
